<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.springboot.mapper.CityMapper">
  <resultMap id="BaseResultMap" type="com.itheima.springboot.entities.City">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="best_time_to_visit" jdbcType="VARCHAR" property="bestTimeToVisit" />
    <result column="image_url" jdbcType="VARCHAR" property="imageUrl" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
  </resultMap>
</mapper>